* {
    margin: 0;
    padding: 0;
    font-family: 'futura', Geneva, Tahoma, sans-serif;
}

@font-face{
    font-family: "Futura";
    src: url(fonts/futura.ttf);
    font-family: "Futura - Normal";
    src: url(fonts/Futura - Normal.ttf);
}

.selector-for-some-widget {
    box-sizing: content-box;
}

nav {
    background-color: #f5f5f5;
    height: 90px;
    font-size: 14px;
}

nav a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: #019fbc;
    border-bottom: 2px solid #019fbc;
}

a#dropdownMenuLink.nav-link.dropdown-toggle {
    border: 1px solid #f5f5f5;
}

ul.dropdown-menu.show {
    padding: 0;
    text-align: center;
}

#london {
    width: 57px;
    height: 11px;
    color: #019fbc;
    font-family: Futura;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.93px;
    text-transform: uppercase;
}

.hire {
    color: #fff;
    text-align: center;
    width: 150px;
    height: 38px;
    background-color: #019fbc;
    background-image: linear-gradient(to top, #14c1a5 0%, #7edece 100%);
    border-radius: 20px;
}

.hire:hover {
    color: #f5f5f5;
    border-bottom: none;
    background-color: #019fbc;
    background-image: linear-gradient(to top, #5decd7c9 0%, #01d4b1 100%);
}

#brand:hover {
    border-bottom: none;
}

.text-dec:hover {
    border-bottom: none;
    background-color: #019fbc !important;
    color: #fff !important;
}

#border-b {
    border-bottom: 1px solid #000;
}

.owl-dots {
    width: 100px;
    color: #fff;
    position: absolute;
    top: 3%;
    right: 0%;
}

.owl-dot {
    margin: 7px;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background: #fff !important;
}

button.owl-dot.active {
    background: #019fbc !important;
}

.hire-2 {
    text-align: center;
    width: 167px;
    height: 38px;
    background-color: #019fbc;
    color: #fff;
    margin: auto;
    background-image: linear-gradient(to top, #14c1a5 0%, #7edece 100%);
    border-radius: 25px;
    padding-top: 6px;
    cursor: pointer;
}

.hire-2:hover {
    color: #f5f5f5;
    background-color: #019fbc;
    background-image: linear-gradient(to top, #5decd7c9 0%, #01d4b1 100%);
}

#bg-1 {
    background-color: #019fbc;
    height: 300px;
}

#bg-2 {
    background-color: #56c0d3;
    height: 300px;
}

#bg-3 {
    background-color: #8ed5e2;
}

#bg-1:hover{
    opacity: 0.9;
}
#bg-2:hover{
    opacity: 0.9;
}
#bg-3:hover{
    opacity: 0.9;
}

button:hover{
    opacity: 0.9;
}

.carousel-caption {
    width: 480px;
    height: 178px;
    color: #ffffff;
    font-family: Futura;
    font-size: 72px;
    font-weight: 800;
    line-height: 59.82px;
    text-transform: uppercase;
    text-align: left !important;
    position: absolute;
    left: 2% !important;
}

.mbb {
    margin-bottom: 60px;
}

.font-style {
    color: #ffffff;
    font-family: Futura;
    font-size: 24px;
    font-weight: 700;
    line-height: 23.82px;
    text-transform: uppercase;
}

.font-p-style {
    color: #ffffff;
    font-family: "Futura - Normal";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.btn-default {
    background-color: #fff;
    border-radius: 25px !important;
    color: #019fbc;
    font-family: Futura;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.11px;
    text-transform: uppercase;
    width: 131px;
}

.height-row {
    height: 111px;
    background-color: #f5f5f5;
}

.opinions {
    color: #282828;
    font-family: Futura;
    font-size: 20px;
    font-weight: 700;
    line-height: 15.82px;
    text-transform: uppercase;
}

.big-chiller {
    color: #019fbc;
}

.director {
    margin: 0 !important;
    height: 367px;
    padding: 0 !important;
}

.img-size {
    width: 100%;
}

.icon {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

.spn-text {
    color: #ffffff;
    font-family: Futura;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 55%;
    left: 5%;
    width: 109px;
    text-shadow: 0 0 1px #000;
}

.container-width {
    position: absolute;
    top: 68%;
    width: 100% !important;
    background-color: #fff;
}

.opinions-famous {
    padding: 25px;
}

.opinions-famous>p {
    color: #282828;
    font-family: "Futura - Normal";
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
}

.opinions-famous h6 {
    color: #282828;
    font-family: Futura;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.36px;
    text-transform: uppercase;
}

.margin-bottom {
    margin-bottom: 100px;
}

.border-top {
    border-top: 1px solid black;
}

.cc-2 {
    width: 350px;
    position: absolute;
}

.width-px {
    width: 80%;
    text-align: justify;
    color: #282828;
    font-family: "Futura - Normal";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.font-sz {
    font-size: 24px;
}

.bg {
    background-color: #019fbc;
    color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: none !important;
    color: #019fbc !important;
    border-bottom: 2px solid #019fbc;
    border-radius: 0;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    color: #000 !important;
}

.bg-img {
    background-image: url(img/warstwa-30.png);
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.order-now {
    color: #ffffff;
    font-family: Futura;
    font-size: 72px;
    font-weight: 700;
    line-height: 59.82px;
    text-transform: uppercase;
    margin-top: 396px;
}


.cool-it-style{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #ffffff;
    font-family: Futura;
    font-size: 28px;
    font-weight: 700;
    line-height: 23.82px;
    text-transform: uppercase;
}

.txt-style {
    color: #282828;
    font-family: "Futura - Normal";
    font-size: 24px;
    font-weight: 400;
    line-height: 36.02px;
}

.btn-hire-a-chiller {
    width: 167px;
    background-color: #fff;
    color: #aaaaaa;
    font-family: Futura;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.36px;
    text-transform: uppercase;
}

.bg-f5 {
    background-color: #f5f5f5;
}

.footer-p {
    color: #a9a9a9;
    font-family: "Futura - Normal";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

a.nav-link.footer-p:hover {
    color: #818181;
}

.owl-carousel {
    z-index: 0 !important;
}

/* Modal Popup */

.bg-modal {
    width: 100%;
    height: 2990px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    display: none;
}

.modal-content {
    width: 900px !important;
    height: 500px;
    background-color: #fff;
    margin-top: 150px;
    border-radius: 4px;
    display: flex;
    flex-direction: row !important;
}

.popup-style {
    border-right: 1px solid black;
    height: 100%;
    width: 50%;
    text-align: center;
    padding-top: 50px;
}

#popup-p-style {
    color: #282828;
    font-family: "Futura - Normal";
    font-size: 24px;
    font-weight: 400;
}

.popup-style-2 {
    height: 100%;
    width: 50%;
    padding-top: 50px;
    padding-left: 25px;
}

#popup-p-style-2 {
    color: #282828;
    font-family: Futura;
    font-size: 28px;
    font-weight: 700;
    line-height: 23.82px;
    text-transform: uppercase;
}

.custom-select {
    width: 90% !important;
    margin-bottom: 20px;
}

.mark-color {
    color: #fff;
}

.popup-btn {
    width: 210px;
    text-align: center;
    background-color: #019fbc;
    color: #fff;
    font-family: Futura;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.42px;
    text-transform: uppercase;
}

.txt-aling-c {
    text-align: center;
    margin-top: 50px;
}

#click-popup {
    cursor: pointer;
}

#popup-close {
    cursor: pointer;
}

/* Modal Popup 2*/

.popup-style-3 {
    background-image: url("img/warstwa-41.png");
    height: 385px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 50px;
    padding-left: 25px;
    color: #ffffff;
    font-family: Futura;
    font-size: 55px;
    font-weight: 700;
    line-height: 46.6px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
}

#popstyle-3-p {
    color: #282828;
    font-family: "Futura - Normal";
    font-size: 20px;
    font-weight: 400;
    line-height: 36.02px;
}

.popup-style-2-md-2{
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-left: 25px;
}

.width-modal{
    width: 50%;
}

.popup-style-2-block-2 {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-left: 25px;
    text-align: center;
}

.bg-modal-2{
    width: 100%;
    height: 2990px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    display: none;
}

#popup-close-2{
    cursor: pointer;
}

